In [34]:
import sqlite3

In [35]:
# 연습용 DB 연결
conn = sqlite3.connect("test.db")

In [36]:
# 커서 생성
c = conn.cursor()

In [37]:
# 테이블 생성
query = '''create table test2 (id integer primary key, product_name text, price integer)'''
c.execute(query)

OperationalError: table test2 already exists

In [ ]:
# 테이블 생성 확인
c.execute('''select * from sqlite_master where type = "table"''')
print(c.fetchall())

### insert 방법
1. 열(키) 항목 순서를 정확히 알고 있는 경우

In [ ]:
# 데이터 삽입
c.execute("insert into test2 values (1, '모자', 14500)")

In [ ]:
conn.commit()

In [ ]:
# 데이터 삽입
c.execute("insert into test2 values (2, '코트', 130300)")
conn.commit()

### insert 방법
2. 열(키) 항목 순서를 정확히 모르는 경우

In [38]:
# 데이터 삽입
c.execute("insert into test2 (product_name, price, id) values (?, ?, ?)", ('티셔츠', 20000, 3))
conn.commit()

In [39]:
# 데이터 삽입
c.execute("insert into test2 (id, product_name, price) values (?, ?, ?)", (4, '블라우스', 300000))
conn.commit()

In [40]:
c.execute("insert into test2 (id, product_name, price) values (6, '블라우스', 300000)")
conn.commit()

### insert 방법
3. 여러 데이터를 한번에 삽입하고 싶은 경우

In [41]:
# 테이블 내용 전체 삭제
c.execute("delete from test2")
conn.commit()

In [42]:
# 추가할 상품 리스트
product_list = [
    ['모자', 10000],
    ['가방', 12000],
    ['가방', 120001],
    ['가방', 120002],
    ['가방', 120003],
    ['바지', 20000],
]

# 데이터 여러 줄 삽입
c.executemany("insert into test2 (product_name, price) values (?, ?)", product_list)
conn.commit()

### 데이터 수정 (update)

### update 방법
1. 튜플 형태로 수정

In [43]:
c.execute("update test2 set product_name = '수정상품명' where id = 1")
conn.commit()

In [44]:
c.execute("update test2 set product_name = ? where id = ?", ('슬랙스', 1))
conn.commit()

### update 방법
2. 딕셔너리 형태로 수정

In [45]:
c.execute("update test2 set price = :price where id = :id", {"price": 200, "id": 2})
conn.commit()

### update 방법
3. %s 표시자 사용

In [46]:
c.execute("update test2 set product_name = '%s' where id = '%s'" % ('블라우시스', 2))
conn.commit()

### 데이터 삭제 (delete)

### delete 방법

1. 튜플 형태로 삭제

In [47]:
c.execute("delete from test2 where id = ?", (2,))
conn.commit()

2. 딕셔너리 형태로 삭제

In [48]:
c.execute("delete from test2 where id = :id", {"id": 3})
conn.commit()

In [52]:
c.execute("delete from test2 where product_name like '하이%'")
conn.commit()

3. 전체 삭제

In [53]:
c.execute("delete from test2")
conn.commit()

In [54]:
conn.close()