### iterdump
- 데이터베이스를 백업할 때 사용하는 모듈
- .sql 파일 확장자로 테이블을 다시 복원할 수 있는 쿼리문을 저장

In [1]:
import sqlite3

In [2]:
# 연습용 DB 연결
conn = sqlite3.connect("test.db")

# 커서 생성
c = conn.cursor()

In [3]:
# 추가할 상품 리스트
product_list = [
    ['모자', 10000],
    ['가방', 12000],
    ['가방', 120001],
    ['가방', 120002],
    ['가방', 120003],
    ['바지', 20000],
]

In [4]:
# 데이터 여러 줄 삽입
c.executemany("insert or replace into test2 (product_name, price) values (?, ?)", product_list)
conn.commit()

In [5]:
# iterdump 내용 확인
for line in conn.iterdump():
    print(line)

BEGIN TRANSACTION;
CREATE TABLE test (id integer primary key, product_name text, price integer);
INSERT INTO "test" VALUES(1,'상품명1',10000);
INSERT INTO "test" VALUES(2,'상품명2',20000);
INSERT INTO "test" VALUES(3,'상품명3',30000);
CREATE TABLE test2 (id integer primary key, product_name text, price integer);
INSERT INTO "test2" VALUES(1,'모자',10000);
INSERT INTO "test2" VALUES(2,'가방',12000);
INSERT INTO "test2" VALUES(3,'가방',120001);
INSERT INTO "test2" VALUES(4,'가방',120002);
INSERT INTO "test2" VALUES(5,'가방',120003);
INSERT INTO "test2" VALUES(6,'바지',20000);
COMMIT;

In [6]:
# 데이터베이스 백업 파일 생성
with conn:
    with open('backup.sql', 'w') as f:
        for line in conn.iterdump():
            f.write('%s\n' % line)
        print('Completed')

Completed

In [13]:
# 테이블 삭제
c.execute("drop table test")
c.execute("drop table test2")
conn.commit()

In [14]:
# 백업 sql 파일 로딩
with open("backup.sql", 'r') as sql_file:
    sql_script = sql_file.read()

In [15]:
sql_script

'BEGIN TRANSACTION;\nCREATE TABLE test (id integer primary key, product_name text, price integer);\nINSERT INTO "test" VALUES(1,\'상품명1\',10000);\nINSERT INTO "test" VALUES(2,\'상품명2\',20000);\nINSERT INTO "test" VALUES(3,\'상품명3\',30000);\nCREATE TABLE test2 (id integer primary key, product_name text, price integer);\nINSERT INTO "test2" VALUES(1,\'모자\',10000);\nINSERT INTO "test2" VALUES(2,\'가방\',12000);\nINSERT INTO "test2" VALUES(3,\'가방\',120001);\nINSERT INTO "test2" VALUES(4,\'가방\',120002);\nINSERT INTO "test2" VALUES(5,\'가방\',120003);\nINSERT INTO "test2" VALUES(6,\'바지\',20000);\nCOMMIT;\n'

In [16]:
# sql 스크립트 실행
c.executescript(sql_script)
conn.commit()