> ### sqlite3 데이터 조회
> - sqlite3 에서 데이터 조회 방법에는 `fetchone()`, `fetchmany()`, `fetchall()` 3 가지 방법을 사용
> - `SELECT` 문을 사용한 조회 결과 범위에서 실제 가져오는 row 수를 결정

| 메서드 | 내용 |
|-----------|-----------|
| fetchone()        | 조회 결과에서 1개의 row 를 가져옴   |
| fetchmany(size=2)   | 조회 결과에서 지정한 size 만큼 row 를 가져옴     |
| fetchall()   | 조회 결과에서 모든 row 를 가져옴      |

In [1]:
import sqlite3
import pandas as pd

C:\Users\VALLETTA\AppData\Local\Temp\ipykernel_20004\71937148.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [14]:
# 연습용 DB 연결
conn = sqlite3.connect("test.db")

In [15]:
# 커서 생성
c = conn.cursor()

In [16]:
# 전체 테이블 현황 조회
c.execute('''select * from sqlite_master where type="table"''')

In [17]:
c.fetchall()

[('table',
  'test',
  'test',
  2,
  'CREATE TABLE test (id integer primary key, product_name text, price integer)')]

In [18]:
pd.DataFrame(c.fetchall())

Empty DataFrame
Columns: []
Index: []

In [ ]:
### 데이터 조회

In [38]:
# 전체 데이터 조회
c.execute('''select * from test''')

In [39]:
c.fetchall()

[(1, '상품명1', 10000), (2, '상품명2', 20000), (3, '상품명3', 30000)]

In [31]:
# 전체 row 선택
pd.DataFrame(c.fetchall())

   0     1      2
0  1  상품명1  10000
1  2  상품명2  20000
2  3  상품명3  30000

In [33]:
# 1개 row 선택
pd.DataFrame(c.fetchone())

       0
0      1
1   상품명1
2  10000

In [36]:
# 지정 row 선택
pd.DataFrame(c.fetchmany(size=3))

   0     1      2
0  1  상품명1  10000
1  2  상품명2  20000
2  3  상품명3  30000

### 특정 데이터 조회

In [40]:
# 컬럼(키) 확인
cur = c.execute('''select * from test''')
cur.description

(('id', None, None, None, None, None, None),
 ('product_name', None, None, None, None, None, None),
 ('price', None, None, None, None, None, None))

In [49]:
# 특정 row만 가져오기
c.execute('''select * from test where id = ?''', (2,))
c.fetchall()

Empty DataFrame
Columns: []
Index: []

In [56]:
c.execute('''select * from test where id = ?''', (2,))
pd.DataFrame(c.fetchall())

   0     1      2
0  2  상품명2  20000

In [58]:
# DB 연결 해제
conn.close()