In [2]:
import sqlite3

In [3]:
# 연습용 DB 연결
conn = sqlite3.connect("test.db")

In [4]:
# 커서 생성
c = conn.cursor()

In [5]:
# 테이블 생성
query = '''create table test2 (id integer primary key, product_name text, price integer)'''
c.execute(query)

In [8]:
# 테이블 생성 확인
c.execute('''select * from sqlite_master where type = "table"''')
print(c.fetchall())

[('table', 'test', 'test', 2, 'CREATE TABLE test (id integer primary key, product_name text, price integer)'), ('table', 'test2', 'test2', 3, 'CREATE TABLE test2 (id integer primary key, product_name text, price integer)')]

### insert 방법
1. 열(키) 항목 순서를 정확히 알고 있는 경우

In [9]:
# 데이터 삽입
c.execute("insert into test2 values (1, '모자', 14500)")

In [10]:
conn.commit()

In [11]:
# 데이터 삽입
c.execute("insert into test2 values (2, '코트', 130300)")
conn.commit()

### insert 방법
2. 열(키) 항목 순서를 정확히 모르는 경우

In [13]:
# 데이터 삽입
c.execute("insert into test2 (product_name, price, id) values (?, ?, ?)", ('티셔츠', 20000, 3))
conn.commit()

In [15]:
# 데이터 삽입
c.execute("insert into test2 (id, product_name, price) values (?, ?, ?)", (4, '블라우스', 300000))
conn.commit()

In [21]:
c.execute("insert into test2 (id, product_name, price) values (6, '블라우스', 300000)")
conn.commit()

### insert 방법
3. 여러 데이터를 한번에 삽입하고 싶은 경우

In [34]:
# 테이블 내용 전체 삭제
c.execute("delete from test2")
conn.commit()

In [35]:
# 추가할 상품 리스트
product_list = [
    ['모자', 10000],
    ['가방', 12000],
    ['가방', 120001],
    ['가방', 120002],
    ['가방', 120003],
    ['바지', 20000],
]

# 데이터 여러 줄 삽입
c.executemany("insert into test2 (product_name, price) values (?, ?)", product_list)
conn.commit()

### 데이터 수정 (update)

### update 방법
1. 튜플 형태로 수정

In [36]:
c.execute("update test2 set product_name = '수정상품명' where id = 1")
conn.commit()

In [37]:
c.execute("update test2 set product_name = ? where id = ?", ('슬랙스', 1))
conn.commit()

### update 방법
2. 딕셔너리 형태로 수정

In [41]:
c.execute("update test2 set price = :price where id = :id", {"price": 200, "id": 2})
conn.commit()

### update 방법
3. %s 표시자 사용